.container {
	max-width: 940px;
}

body {
	background: #333333;
}

.pagecontainer {
	background: #FFFFFF;
}

.pageheader {
	height: 145px;
	background: url(../img/header.jpg) top left no-repeat;
}

.pagebrand>img {
	width: 404px;
	height: 128px;
	margin-top: 17px;
	margin-left: 17px;
}

.pagefooter {
	padding: 40px 0;
	text-align: center;
	background: #EEEEEE;
	color: #888888;
}

.pagesearch {
	overflow: auto;
	margin-top: 20px;
	padding-top: 10px;
}

.pagesearch>h2 {
	float: left;
	margin-top: 0;
	margin-right: 20px;
}

.pagesearch,
.pagecontent {
	margin: 24px;
}