{% extends "layout.html" %}
{% block content %}

  <section>
    <h2>Kuchyně</h2>

    <ul>
      {% for cuisine in cuisines %}
        <li><a href="{{ url_for('cuisine', cuisine_id=cuisine.id) }}"
          >{{ cuisine.name }}</a></li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
