<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

    <div class="pagecontainer container">
      <header class="pageheader">
        <a class="pagebrand" href="{{ url_for('index') }}"><img
          src="{{ url_for('static', filename='img/brand.png') }}"></a>
      </header>

      <section class="pagesearch">
        <h2>Sháním</h2>

        <form action="{{ url_for('search') }}" method="get">
          <input type="search" class="span4" name="query"
            value="{{ query }}" placeholder="nori, galangal, kari, ..." autofocus>
          <button type="submit" class="btn btn-large">Hledat</button>
        </form>
      </section>

      <section class="pagecontent">
        {% block content %}{% endblock %}
      </section>

      <footer class="pagefooter">
        &copy; Kardamom.cz
      </footer>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>
