{% extends "layout.html" %}
{% block content %}

  <h2>{{ shop.name }}</h2>

  <address>
    {{ shop.street }}<br>
    {{ shop.zipcode }} {{ shop.city }}<br>
    {% if shop.phone %}
      {{ shop.phone }}<br>
    {% endif %}
    {% if shop.email %}
      <a href="mailto:{{ shop.email }}">{{ shop.email }}</a><br>
    {% endif %}
    {% if shop.website %}
      <a href="http://{{ shop.website }}">{{ shop.website }}</a>
    {% endif %}
  </address>

  <h3>Produkty</h3>
  <ul>
    {% for product in shop.products %}
      <li><a href="{{ url_for('product', product_id=product.id) }}"
        >{{ product.name }}</a></li>
    {% endfor %}
  </ul>

  <h3>Kuchyně</h3>
  <ul>
    {% for cuisine in shop.cuisines %}
      <li><a href="{{ url_for('cuisine', cuisine_id=cuisine.id) }}"
        >{{ cuisine.name }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}