{% extends "layout.html" %}
{% block content %}

  <h2>{{ product.name }}</h2>
  <p>{{ product.aliases|default([], true)|join(', ') }}</p>
  <p>{{ product.tags|default([], true)|join(', ') }}</p>
  <p>{{ product.description|default('', true) }}</p>

  {% if product_shops %}
    <h3>Obchody s produktem</h2>

    {% for shop in product_shops %}
      {% include "_shop.html" with context %}
    {% endfor %}
  {% endif %}

  {% if cuisine_shops %}
    <h3>
      Obchody s kuchyněmi:
      {% for cuisine in cuisines %}
        <a href="{{ url_for('cuisine', cuisine_id=cuisine.id) }}"
          >{{ cuisine.name }}</a>
      {% endfor %}
    </h3>

    {% for shop in cuisine_shops %}
      {% include "_shop.html" with context %}
    {% endfor %}
  {% endif %}

{% endblock %}
