{% extends "layout.html" %}
{% block content %}

  <h2>Hledám "{{ query }}"</h2>

  {% if products %}
    <p>
      Hledání odpovídají produkty:
      {% for product in products %}
        <a href="{{ url_for('product', product_id=product.id) }}"
          >{{ product.name }}</a>
      {% endfor %}
    </p>
  {% else %}
    <p>Nenalezeny žádné produkty</p>
  {% endif %}

  {% if product_shops %}
    <h3>Obchody s produkty</h3>

    {% for shop in product_shops %}
      {% include "_shop.html" with context %}
    {% endfor %}
  {% endif %}

  {% if cuisine_shops %}
    <h3>
      Obchody s kuchyněmi:
      {% for cuisine in cuisines %}
        <a href="{{ url_for('cuisine', cuisine_id=cuisine.id) }}"
          >{{ cuisine.name }}</a>
      {% endfor %}
    </h3>

    {% for shop in cuisine_shops %}
      {% include "_shop.html" with context %}
    {% endfor %}
  {% endif %}

{% endblock %}
