{% extends "layout.html" %}
{% block content %}

  <h2>{{ cuisine.name }}</h2>

  {% for shop in shops %}
    {% include "_shop.html" with context %}
  {% else %}
    <p>Nenalezeny žádné obchody</p>
  {% endfor %}

{% endblock %}
